
*{
    margin: 0;
    box-sizing: border-box;
}

.first{
    width: 200px;
    height: 90px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.first1{
    width: 200px;
    height: 90px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    
}

.first2{
    width: 200px;
    height: 90px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.first3{
    width: 200px;
    height: 90px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}

.first4{
    width: 200px;
    height: 90px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    
}

.first5{
    width: 200px;
    height: 90px;
    background-color: rgb(70, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
}